# Ignore the exported meshes.
exported-meshes/*.stl
exported-meshes/*.mtl
exported-meshes/*.obj
test/constant/geometry/*.stl
test/constant/geometry/*.mtl
test/constant/geometry/*.obj
test/constant/geometry/*.eMesh

# Ingore simulation results.
test/*
!test/constant
!test/system
!test/0.orig
!test/Allclean
!test/Allrun
!test/Allrun_cluster
!test/*.py
test/constant/polyMesh
test/constant/extendedFeatureEdgeMesh
test/constant/triSurface/*.eMesh
test/constant/triSurface/*.obj

# Ingore configuration-specific helper scripts.
source_openfoam.sh

# Paraview
ParaView-5.13.1-MPI-Linux-Python3.10-x86_64/

# VPN files.
vpn/

# Vscode files.
.vscode