# Ignore the exported meshes.
exported-meshes/*.stl
test/constant/geometry/*.stl
test/constant/geometry/*.eMesh

# Ingore simulation results.
test/*
!test/constant
test/constant/extendedFeatureEdgeMesh
!test/system
!test/0
!test/Allclean
!test/Allrun
test/constant/polyMesh

# Ingore configuration-specific helper scripts.
source_openfoam.sh