# Ignore the exported meshes.
exported-meshes/*.stl
exported-meshes/*.mtl
exported-meshes/*.obj
simulation/constant/geometry/*.stl
simulation/constant/geometry/*.mtl
simulation/constant/geometry/*.obj
simulation/constant/geometry/*.eMesh

# Ingore simulation results.
simulation/*
!simulation/constant
!simulation/system
!simulation/0.orig
!simulation/Allclean
!simulation/Allrun
!simulation/Allrun_cluster
!simulation/*.py
simulation/constant/polyMesh
simulation/constant/extendedFeatureEdgeMesh
simulation/constant/triSurface/*.eMesh
simulation/constant/triSurface/*.obj
simulation/constant/triSurface/*.mtl

# Ingore configuration-specific helper scripts.
source_openfoam.sh
source-openfoam.sh

# Paraview
ParaView-5.13.1-MPI-Linux-Python3.10-x86_64/

# VPN files.
vpn/

# Vscode files.
.vscode
